
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="padding:10px">
        <div class="col-xl">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hakkımızda SAyfası</h5>
                    
                       
                   
                </div>
            </div>
        </div>
    </div>

