
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="row" style="padding:10px">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SAĞLIK BAKANLIĞI COVİD-19 ÖNLEMLERİ</h5>
                <p>
                    <h1 class="card-title">COVID-19'un yayılmasını önlemek için:</h1>
                    <ul>
                        <li>Ellerinizi sık sık temizleyin. Sabun, su veya alkol bazlı dezenfektan kullanın.</li>
                        <li>Öksüren veya hapşıran kişilerle aranızda güvenli mesafeyi koruyun.</li>
                        <li>Fiziksel mesafeyi koruyamadığınız durumlarda maske takın.</li>
                        <li>Gözlerinize, burnunuza veya ağzınıza dokunmayın.</li>
                        <li>Öksürürken veya hapşırırken burnunuzu ve ağzınızı dirseğinizin iç kısmıyla veya bir mendille kapatın.</li>
                        <li>Kendinizi iyi hissetmiyorsanız evde kalın.</li>
                        <li>Ateş, öksürük ve solunum güçlüğü şikayetleriniz varsa tıbbi yardım alın.</li>
                    </ul>
                    Başvuracağınız sağlık hizmetleri sağlayıcısını önceden aramak, doğru sağlık tesisine en hızlı şekilde yönlendirilmenize olanak tanır. Bu yaklaşım, hem sizi korur hem de virüslerin ve diğer enfeksiyonların yayılmasını önler.
                    <h5 class="card-title">Maskeler</h5>
                    Maskeler, virüsün maskeyi takan kişiden diğer kişilere yayılmasını önlemeye yardımcı olabilir. Tek başına maske, COVID-19'a karşı koruma sağlamaz; bu önlem, fiziksel mesafe ve el hijyeni önlemleriyle birlikte kullanılmalıdır. Yerel sağlık kurumunuzun önerilerine uyun. Tek başına maske, COVID-19'a karşı koruma sağlamaz; bu önlem, fiziksel mesafe ve el hijyeni önlemleriyle birlikte kullanılmalıdır. Yerel sağlık kurumunuzun önerilerine uyun.
                </p>

                <iframe width="100%" height="500" src="https://www.youtube.com/embed/3HmMaZmk_c8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe src="http://www.tuba.gov.tr/files/images/2020/kovidraporu/Covid-19%20Raporu-Final%2B.pdf"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    
    </div>

