
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DUYURULAR - HABERLER</h5>
                    <div class="accordion" id="accordionExample" style="height:800px;">


                       


                  
                            <iframe src="https://cnnturk-coronamap.subservis.com/" scrolling="no" frameborder="0" style="width: -webkit-fill-available; height: -webkit-fill-available;"></iframe>
                        


                        <!--
                        <div class="card">
                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Indonesia
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
    - Passengers are not allowed to transit or enter Indonesia.

    - This does not apply to:

    - nationals of Indonesia;

    - passengers with a Temporary Stay Permit (ITAS) or Permanent Stay Permit (ITAP);

    - passengers with a Diplomatic Visa or a Service Visa;

    - passengers with a Diplomatic Stay Permit or Service Stay Permit;

    - medical aid workers or Food Sustenance Workers for Humanitarian Purposes;

    - personnel working on strategic national projects.

    - Passengers allowed to enter Indonesia (except nationals of Indonesia) and airline crew must:

    - have a valid health certificate in English issued by Health Authority from respective country. It must be valid within 7 days and state that the passenger is free from respiratory disease and 'fit to travel'. It must also contain the PCR test result, and

    - have no travel history in the last 14 days from China (People's Rep.), France, Germany, Iran, Italy, Korea (Rep.), Spain, Switzerland, United Kingdom and Vatican City (Holy See), and

    - agree to self-quarantine for 14 days and fill in statement of compliance on arrival.

    - Passengers arriving from countries with Coronavirus (COVID-19) confirmed cases must submit a health declaration form on arrival.

    - Deadhead crew that will be active on return flight will be given an entry stamp if they:

    - have a valid crew ID card or crew member certificate; and

    - provide written notification from airline to Immigration Officer at entry point that the personnel will be on duty during return flight. This notification should be received by Immigration officer at entry point at latest 24 hours upon arrival.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Italy

                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
    - Passengers traveling as tourists are not allowed to enter Italy.

    - This does not apply to:

    - nationals or residents of Italy

    - passengers returning via Italy to their country of residence. They must communicate the reason and length of travel to the transporting carrier.

    - passengers traveling on business

    - passengers traveling for health reasons

    - healthcare personnel traveling on duty.

    2. Passengers allowed to enter Italy must communicate their entry to the Department of Prevention at local health units (ASL) of the entrance district; and

    - are subject to health surveillance and isolation for 14 days; and

    - upon boarding must submit a declaration to the transporting carrier with the reason for travel, the address in Italy and the telephone number used while in Italy.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ESTONİA
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
                                Passengers are not allowed to enter Estonia.

                                -This does not apply to:

                                - nationals and residents of Estonia;

                                - parent, child or spouse of nationals or residents of Estonia;

                                - nationals of Andorra, Monaco, Montenegro, North Macedonia (Rep.), San Marino, Serbia and Vatican City (Holy See) returning via Estonia to their country of residence;

                                - passengers directly involved in transporting goods and raw materials, including the loading of goods;

                                - persons related to the international transport of goods and passengers, members of the team or crew servicing the international means of transport, and the persons performing repair, warranty or - maintenance operations on the means of transport;

                                - passengers related to the business continuity of critical services;

                                - passengers whose arrival in Estonia is related to the maintenance, repair or warranty activities of a device, or operations related to information and communication technology, if these are necessary for ensuring the operation of a company;

                                -passengers without symptoms of Coronavirus (COVID-19) who are:

                                - returning to their country of residence through Estonia with a transport other than the plane;

                                - nationals and residents of Latvia who work in Estonia.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                PORTUGAL
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
     Flights to Portugal are suspended.

    -This does not apply to flights arriving from Angola, Austria, Belgium, Brazil (Sao Paulo (GRU) and Rio De Janeiro (RIO)), Bulgaria, Canada, Cape Verde, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Guinea-Bissau, Hungary, Iceland, Ireland (Rep.), Latvia, Lithuania, Luxembourg, Malta, Mozambique, Netherlands, Norway, Poland, Portugal, Romania, Sao Tome and Principe, Slovakia, Slovenia, South Africa, Sweden, Switzerland, USA, United Kingdom or Venezuela.

    - This does not apply to:

    - state flights;

    - emergency flights;

    - medevac flights;

    - humanitarian/repatriation flights;

    - United Nations flights;

    - technical stopovers where passengers do not disembark.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Netherlands
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
     1. Passengers are not allowed to enter the Netherlands.

    -This does not apply to nationals of EEA Member States and Switzerland.

    -This does not apply to British Nationals.

    -This does not apply to passengers with a residence permit issued to long term residents of EEA Member States, Switzerland and the United Kingdom.

    -This does not apply to passengers with a long-stay visa, including persons with a temporary residence permit (Machtiging Voor Voorlopig Verblijf - MVV).

    -This does not apply to passengers in transit.

    -This does not apply to :

    - family members of nationals of Switzerland, EEA Member States and of British nationals;

    - healthcare personnel;

    - frontier workers;

    - transport of goods personnel;

    - diplomats;

    - personnel of international and humanitarian organizations,

    - military personnel;

    - passengers traveling for emergency family reasons;

    - passengers in need of international protection or for other humanitarian reasons.

    2. A completed 'Health Declaration Form' for passengers departing from high risk Coronavirus (COVID-19) countries must be presented prior to boarding any aircraft with destination the Netherlands.

    3. Passengers departing from high risk Coronavirus (COVID-19) countries are instructed to immediately self-quarantine for 14 days upon arrival.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Spain
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
     Passengers are not allowed to enter Spain.

    This does not apply to:

    - Passengers arriving from Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland (Rep.), Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Sweden or Switzerland;

    - Nationals of Spain and their immediate family members;

    - Passengers travelling to their place of residency within the European Union and their immediate family members;

    - Passengers travelling to their place of residency in Andorra, Iceland, Norway or Switzerland;

    - Passengers with a long-term visa issued by a Schengen Member State, who go directly to their country of residence;

    - Healthcare or elderly care professionals in the performance of their duties;

    - Diplomats, international organizations, military personnel and members of humanitarian organizations in the performance of their duties;

    - Transport of goods personnel;

    - People traveling for imperative family reasons duly accredited;

    - Persons who document reasons of force majeure or situation of need, or whose entry is permitted for humanitarian reasons.

    Effective 15 May 2020:

    Passengers are required to self-quarantine for 14 days.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ANDORRA
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
    -Apply the relevant Coronavirus (COVID-19) regulations of France or Spain, whichever must be transited to enter Andorra.
                                </pre>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Mexico
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <pre>
    -No regulations related to Coronavirus (COVID-19) implemented.
                                </pre>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



@*ÜST KISIMDAKİ VAKA BİLGİLERİNİ GETİRMEK İÇİN, _GetCovid19data wiev'dan veri çekiyorum*@

<script>
        $(document).ready(function () {

            $("#myInput").hide();
            $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        var url = '@Url.Action("GetCovid19Data", "Covid19")';

        function autoRefresh() {
            $.ajax({
                    url: url

                })
                .done(function(response) {
                    $("#covidData").html("");
                    $("#covidData").html(response);
                    $("#myInput").show();
                });
        }

            autoRefresh();
            setInterval(autoRefresh, 10000);



    });

</script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!--    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>-->
<!--    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/papaparse@5.1.1/papaparse.min.js" crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin></script>
<script src="~/assets/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="~/assets/plugins/bootstrap/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/assets/plugins/chartjs/chart.min.js"></script>
<script src="~/assets/plugins/d3/d3.min.js"></script>
<script src="~/assets/plugins/nvd3/nv.d3.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/assets/js/connect.min.js"></script>

<script src="~/assets/utils.js"></script>
<script src="~/assets/data.js"></script>
<script src="~/assets/index2.js"></script>



