
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="padding:10px">
        <div class="col-xl">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Nedir?</h5>
                    <p>
                        Yeni Koronavirüs Hastalığı (COVID-19), ilk olarak Çin’in Vuhan Eyaleti’nde Aralık ayının sonlarında solunum yolu belirtileri (ateş, öksürük, nefes darlığı) gelişen bir grup hastada yapılan araştırmalar sonucunda 13 Ocak 2020’de tanımlanan bir virüstür.<br></br>

                        Salgın başlangıçta bu bölgedeki deniz ürünleri ve hayvan pazarında bulunanlarda tespit edilmiştir. Daha sonra insandan insana bulaşarak Vuhan başta olmak üzere Hubei eyaletindeki diğer şehirlere ve Çin Halk Cumhuriyeti’nin diğer eyaletlerine ve diğer dünya ülkelerine yayılmıştır.<br></br>

                        Koronavirüsler, hayvanlarda veya insanlarda hastalığa neden olabilecek büyük bir virüs ailesidir. İnsanlarda, birkaç koronavirüsün soğuk algınlığından Orta Doğu Solunum Sendromu (MERS) ve Şiddetli Akut Solunum Sendromu (SARS) gibi daha şiddetli hastalıklara kadar solunum yolu enfeksiyonlarına neden olduğu bilinmektedir. Yeni Koronavirüs Hastalığına SAR-CoV-2 virüsü neden olur.<br></br>

                        Belirtileri Nelerdir?
                        Belirtisiz olgular olabileceği bildirilmekle birlikte, bunların oranı bilinmemektedir. En çok karşılaşılan belirtiler ateş, öksürük ve nefes darlığıdır. Şiddetli olgularda zatürre, ağır solunum yetmezliği, böbrek yetmezliği ve ölüm gelişebilmektedir.<br></br>

                        Nasıl Bulaşır?
                        Hasta bireylerin öksürmeleri aksırmaları ile ortama saçılan damlacıkların solunması ile bulaşır. Hastaların solunum parçacıkları ile kirlenmiş yüzeylere dokunulduktan sonra ellerin yıkanmadan yüz, göz, burun veya ağıza götürülmesi ile de virüs alınabilir. Kirli ellerle göz, burun veya ağıza temas etmek risklidir.<br></br>

                        Kimler Daha Fazla Risk Altında?
                        COVID-19 enfeksiyonu ile ilgili şimdiye kadar edinilen bilgiler, bazı insanların daha fazla hastalanma ve ciddi semptomlar geliştirme riski altında olduğunu göstermiştir.<br></br>
                        - Vakaların yüzde 80'i hastalığı hafif geçirmektedir.
                        - Vakaların %20’si hastane koşullarında tedavi edilmektedir.
                        - Hastalık, genellikle 60 yaş ve üzerindeki kişileri daha fazla etkilemektedir.<br></br>

                        Hastalıktan En Çok Etkilenen Kişiler:<br></br>
                        - 60 yaş üstü olanlar<br></br>
                        - Ciddi kronik tıbbi rahatsızlıkları olan insanlar:<br></br>
                        - Kalp hastalığı<br></br>
                        - Hipertansiyon<br></br>
                        - Diyabet<br></br>
                        - Kronik Solunum yolu hastalığı<br></br>
                        - Kanser gibi<br></br>
                        - Sağlık Çalışanları<br></br>

                        Çocuklar Risk Altında Mı?<br></br>
                        Çocuklarda hastalık nadir ve hafif görünmektedir.<br></br>
                        Çocuklarda şimdiye kadar ölüm görülmemiştir.<br></br>

                        Hamileler Risk Altında Mı?<br></br>
                        COVID-19 enfeksiyonu gelişen gebe kadınlarda hastalığın ciddiyeti konusunda sınırlı bilimsel kanıt vardır.<br></br>
                        Bununla birlikte mevcut kanıtlar COVID-19 enfeksiyonu sonrası hamile kadınlar arasındaki hastalık şiddetinin, hamile olmayan yetişkin COVID-19 vakalarına benzer olduğunu ve hamilelik sırasında COVID-19 ile enfeksiyonun fetüste olumsuz bir etkisi olduğunu gösteren hiçbir veri olmadığını göstermektedir.<br></br>
                        Şu ana kadar COVID-19'un hamilelik sırasında anneden bebeğe bulaştığına dair de bir kanıt bulunmamaktadır.<br></br>

                        Tanı Nasıl Konur?<br></br>
                        Yeni Koronavirüs tanısı için gerekli moleküler testler ülkemizde mevcuttur. Tanı testi sadece Halk Sağlığı Genel Müdürlüğü Ulusal Viroloji Referans Laboratuvarında ve belirlenmiş Halk Sağlığı Laboratuvarlarında yapılmaktadır.<br></br>

                        Korunma Yolları Nelerdir?<br></br>
                        Mümkün olduğu kadar yurtdışına yolculuk yapılmaması önerilmektedir. Yurtdışına çıkışın zorunlu olduğu durumlarda aşağıdaki kurallara dikkat edilmelidir:<br></br>

                        Akut solunum yolu enfeksiyonlarının genel bulaşma riskini azaltmak için önerilen temel ilkeler Yeni Koronavirüs Hastalığı (COVID-19) için de geçerlidir. Bunlar;<br></br>

                        -El temizliğine dikkat edilmelidir. Eller en az 20 saniye boyunca sabun ve suyla yıkanmalı, sabun ve suyun olmadığı durumlarda alkol bazlı el antiseptiği kullanılmalıdır. Antiseptik veya antibakteriyel içeren sabun kullanmaya gerek yoktur, normal sabun yeterlidir.
                        - Eller yıkanmadan ağız, burun ve gözlerle temas edilmemelidir.<br></br>
                        - Hasta insanlarla temastan kaçınmalıdır (mümkün ise en az 1 m uzakta bulunulmalı).<br></br>
                        - Özellikle hasta insanlarla veya çevreleriyle doğrudan temas ettikten sonra eller sık sık temizlenmelidir<br></br>
                        - Hastaların yoğun olarak bulunması nedeniyle mümkün ise sağlık merkezlerine gidilmemeli, sağlık kuruluşuna gidilmesi gereken durumlarda diğer hastalarla temas en aza indirilmelidir.<br></br>
                        - Öksürme veya hapşırma sırasında burun ve ağız tek kullanımlık kağıt mendil ile örtülmeli, kağıt mendilin bulunmadığı durumlarda ise dirsek içi kullanılmalı, mümkünse kalabalık yerlere girilmemeli, eğer girmek zorunda kalınıyorsa ağız ve burun kapatılmalı, tıbbi maske kullanılmalıdır.<br></br>
                        - Çiğ veya az pişmiş hayvan ürünleri yemekten kaçınılmalıdır. İyi pişmiş yiyecekler tercih edilmelidir.<br></br>
                        - Çiftlikler, canlı hayvan pazarları ve hayvanların kesilebileceği alanlar gibi genel enfeksiyonlar açısından yüksek riskli alanlardan kaçınılmalıdır.<br></br>
                        - Seyahat sonrası 14 gün içinde herhangi bir solunum yolu semptomu olursa maske takılarak en yakın sağlık kuruluşuna başvurulmalı, doktora seyahat öyküsü hakkında bilgi verilmelidir.<br></br>
                    </p>
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/ZANd8J-wWjg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

